.formbloc{
    width: 60%;
    background: $color-white;
    height: 900px;
    position: relative;
    padding-top: 100px;
    margin: 0 auto;
    .formulaire{
        height: px;
        width: 90%;
        margin: 0 auto;
        background: $background-two;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 7px;
        .formbtn{
            padding-top: 20px;
            width: 100%;
            margin: 0 auto;
            button{
                margin-left:10px ;
                padding: 20px 25px;
                border-radius: 5px;
                border: none;
                color: $color-white;
              
            }
        }
    }
    
}

@media screen and (max-width : 900px) {
    .formbloc{
        width: 100%;
        
    }
}