.formcardstoled{
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    form{
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 0 15 px rgba(0, 0, 0, 0.2) ;
        .inputcontenaire{
            label{
                font-size: 13px;
                display: block;
                margin-bottom: 5px;

            }
            .inputgroupe{
                display: flex;
                align-items: center;
                input, select{
                    padding: 15px;
                    flex-basis: 100%;
                    border: none;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    &:focus{
                        outline: none;
                        border-color: none;
                        box-shadow: rgba(247, 244, 244, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                        
                    }
                }
                span{
                    padding: 13px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color: rgb(196, 192, 192);
                    color: white;
                }
            }
        }
        .inputcontenaire:not(:nth-child(1)){
            margin-top: 10px;
        }
    }
    .submitcont{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .submit{
            padding: 10px 20px;
            margin: 20px 0px 20px 0px;
            outline: none;
            border: none;
            width: 50%;
            padding: 15px 2px;
            border-radius: 5px;
            background-color: $color-blue;
            color: white;
            
        }
    }
    .reponse{
        text-align: center;
        padding: 10px 0px;
    }
    
}



@media screen and (max-width : 900px) {
    .formcardstoled{
        width: 100%;
        margin: 0 auto;
        margin-top: 40px;
        form{
            width: 90%;
            margin: 0 auto;
            box-shadow: 0 0 15 px rgba(0, 0, 0, 0.2) ;
            .inputcontenaire{
                label{
                    display: block;
                    margin-bottom: 5px;
                    font-size: 10px;
                }
                .inputgroupe{
                    display: flex;
                    align-items: center;
                    input, select{
                        padding: 15px;
                        flex-basis: 100%;
                        border: none;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                }
            }
            .inputcontenaire:not(:nth-child(1)){
                margin-top: 10px;
            }
        }
        .submit{
            padding: 10px 20px;
        }
    }
}